.wrapper {
  max-width: 1280px;
  padding: 2rem 20vw;
  margin: 0 auto;
  text-align: center;
  user-select: none;
}

h1 {
  font-size: 2rem;
  text-shadow: 1px 1px 2px darkred;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px darkred;
  margin-bottom: 1rem;
}

.fifteen {
  width: 100%;
  padding-bottom: 100%;
  background: url('../images/bg.jpg') no-repeat center;
  background-size: contain;
  margin-bottom: 1.5rem;
  position: relative;
  opacity: 0.9;
}

.gameShuffle {
  pointer-events: none;
  opacity: .8;
  cursor: default;
}

.gameShuffle .dice {
  transition: transform 0.1s;
}

.dice {
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: 25%;
  background: #00000099;
  color: goldenrod;
  font-size: 2rem;
  transition: transform .3s;
  border-radius: 8px;
  border: solid 1px goldenrod;
  outline: 0;
}

.diceNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 85%;
  /* box-shadow: inset 0 0 0 2px blue; */
  margin: 8%;
  /* font-size: 2rem; */
  border: solid 2px darkred;
}

.button {
  color: goldenrod;
  background: black;
  font-size: 1rem;
  padding: .5rem 1.5em;
  border-radius: 10px;
  box-shadow: 5px 5px 2px #999;
  transition: 0.3s;
  font-family: 'Verdana';
  border: solid 5px darkred;

}

.button:active {
  box-shadow: 2px 2px #666;
  transform: translate(4px, 4px);
  transition: 0.3s;
}

.size-wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  text-shadow: 1px 1px 1px darkred;
  margin-bottom: 1rem;
}

.size {
  margin-right: -3px;
  margin-left: 5px;
}

.label {
  font-size: 1.5rem;
}

body {
  accent-color: darkred;
}

.hide {
  display:none;
}